doctype html
html
  head
    title Hello javascript!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/hello.js")
  body
    div
        p#photo-id The ID is
        p.photo-title The title is
        img